<launch>
    <include file="$(find amcl)/examples/amcl_diff.launch" />
    <!-- remap from="/map" to="/slam_toolbox/dynamic_map" / -->
    <!-- remap from="/cmd_vel" to="/cmd_vel_nav" / -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find batch_sim)/param/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
        <rosparam file="$(find batch_sim)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find batch_sim)/param/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find batch_sim)/param/global_costmap_params.yaml" command="load" /> 
        <rosparam file="$(find batch_sim)/param/base_local_planner_params.yaml" command="load" />
    </node>

    <remap from="/slam_toolbox/dynamic_map" to="/map"/>
    <node pkg="slam_toolbox" type="async_slam_toolbox_node" name="slam_toolbox" output="screen">
        <rosparam command="load" file="$(find batch_sim)/param/mapper_params_online_async.yaml" />
    </node>
</launch>
