<launch>
    <include file="$(find amcl)/examples/amcl_diff.launch" />
    <!-- remap from="/map" to="/slam_toolbox/dynamic_map" / -->
    <!-- remap from="/cmd_vel" to="/cmd_vel_nav" / -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find ba_code)/param/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
        <rosparam file="$(find ba_code)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find ba_code)/param/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find ba_code)/param/global_costmap_params.yaml" command="load" /> 
        <rosparam file="$(find ba_code)/param/base_local_planner_params.yaml" command="load" />
    </node>
</launch>
